@(urlForm: Form[CreateUrlForm], urlPostCall: Call, lastUrl: Url)(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Welcome to Play") {

    <h2>Url shortener</h2>

    <!-- @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    } -->
    <hr/>
    <br>

    @form(urlPostCall) {
      @CSRF.formField
        <label for="input">Input url:</label>
        <input type="text" 
               id="@{urlForm("inputUrl").id}"
               name="@{urlForm("inputUrl").label}"
               value=@lastUrl.inputUrl
               size="100"
               formmethod="post">
               <br><br>

        <button type="submit">Shorten URL</button>
        <br><br>
    }

    <label for="output">Output url:</label>
    <input type="text" 
            id="output"
            name="output"
            value="http://localhost:9000/@lastUrl.outputUrl"
            size="100"
            readonly="true"
            onclick="myFunction()"><br><br>
    <button onclick="myFunction()">Copy link</button>
}
